/* Custom CSS */

/* Define color variables */
:root {
    --primary-color: #8F78DD;
    --primary-dark: #4a3494;
    --primary-light: #beaef5;
    --dark: #18131A;
    --dark-opacity-5: rgba(24, 19, 26, 0.5);
    --gray-color: #6b6b6b;
    --light-gray-color: #f9f9f9;
    --black: #212529;
    --white: #ffffff;
    --text-black: #212529;
    --text-gray: #414141;

    --card-gradient-1: linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
    --card-gradient-2: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
    --card-gradient-3: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);


    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

/* This file is to add custom css for FRONTEND of this website */

body {
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
}

.body-pd {
    padding-left: 18rem;
}

section {
    padding: 1rem 0 2rem;
}


/* Generic CSS */
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    margin-bottom: 0;
    font-weight: 600;
    margin-bottom: 1rem;
}

h1, h2, h3 {
    line-height: 3rem;
}

.h6, h6 {
    font-size: .85rem;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--white);
    -webkit-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    font-size: 1rem;
}

a:hover {
    color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
    color: var(--white);
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-white-opacity-1 {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-black {
    color: var(--black) !important;
}

.text-gray {
    color: var(--text-gray) !important;
}

.icon i {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
}

/* Card CSS */
.card {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white);
    border-radius: 10px;
}

/* Buttons */

.btn {
    font-size: 1rem;
    font-weight: 600;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    -webkit-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    border: 0;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-primary-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-primary-outline:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-sm {
    padding: .25rem 0.75rem;
    font-size: .65rem;
}

.dropdown-toggle::after {
    display: none;
}


/* Sidebar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.header .header_toggle {
    cursor: pointer;
}

.header.toggle {
    margin-left: 18rem;
}

.sidebar {
    position: fixed;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    display: none;
    z-index: var(--z-fixed);
    transition: all .5s ease;
}

.sidebar.show {
    width: 16rem;
    display: block;
    transition: all .5s ease;
}

.sidebar .nav {
    padding: 1rem;
    width: 100%;
}

.sidebar .nav .nav_logo {
    margin-bottom: 2rem;
    text-align: center;
    width: inherit;
}

.sidebar .nav .nav_list {
    display: grid;
    width: inherit;
}

.sidebar .nav .nav_list .nav_item {
    margin-bottom: 1rem;
    padding: 0.7rem;
    color: var(--white);
}

.sidebar .nav .nav_list .nav_item.active {
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: var(--white);
}

.sidebar .nav .nav_list .nav_item .nav_icon {
    padding-right: 0.5rem;
}